<div class="uoc-container2">
    <h1 class="centrado">El castillo</h1>
    <p>
        Se levanta sobre una elevada colina desde la que se domina toda la
        ciudad. Al llegar vemos, en primer lugar, el impresionante recinto
        amurallado cuyos orígenes islámicos encierran importantes testimonios de
        la época medieval caravaqueña. Penetrando en el interior de dicho
        recinto encontramos la Basílica-Santuario de la Sta. Cruz, obra del
        siglo XVII, con impresionante portada barroca del XVIII, la cual se
        encuentra incluida dentro del Barroco Internacional.
    </p>
    <p>
        El aspecto que presenta en la actualidad, con un total de quince torres
        y un espigón saliente o “canapé”, es consecuencia de una serie de
        transformaciones a lo largo de los siglos, siendo de singular
        importancia la que se dio a partir de 1617 con la construcción del nuevo
        templo de la Stma. Cruz, las que tuvieron lugar con motivo de la Guerra
        de la Independencia contra los franceses (incorporándose el “canapé” a
        costa de dos torres) y la última, de la segunda mitad del XX, que
        eliminó construcciones anteriores.
    </p>

    <div class="textolargo">
        <p>
            Su primera edificación, de origen musulmán, puede remontarse a los
            siglos X u XI constando a finales del XV de un recinto amurallado,
            de planta elíptica (más o menos similar a la actual), con única
            puerta mirando al Poniente, que configuraba un “albacar”, “albacara”
            o plaza de armas (explanada actual). A su vez, dentro de este
            recinto amurallado había otro, de planta poligonal, con torres,
            protegido con una antemuralla y un foso. Esta era la edificación
            señorial principal hasta el tercer cuarto del siglo XV. Este último
            recinto fue destruido en el siglo XVII al construirse el actual
            templo de la Vera Cruz y la edificación anexa o casa del capellán.
        </p>
    </div>
</div>
