<div id="myslider" class="uoc-container3 galeria">
    <img src="./assets/images/1.jpg" class="img2">
    <img src="./assets/images/2.jpg" class="img2">
    <img src="./assets/images/3.jpg" class="img2">
    <img src="./assets/images/4.jpg" class="img2">
    <img src="./assets/images/5.jpg" class="img2">
    <img src="./assets/images/6.jpg" class="img2">
    <img src="./assets/images/7.jpg" class="img2">
    <img src="./assets/images/8.jpg" class="img2">
    <img src="./assets/images/9.jpg" class="img2">
    <img src="./assets/images/10.jpg" class="img2">
    <img src="./assets/images/11.jpg" class="img2">
    <img src="./assets/images/12.jpg" class="img2">
    <img src="./assets/images/13.jpg" class="img2">
    <img src="./assets/images/14.jpg" class="img2">
    <img src="./assets/images/15.jpg" class="img2">
    <img src="./assets/images/16.jpg" class="img2">
    <img src="./assets/images/17.jpg" class="img2">
    <img src="./assets/images/18.jpg" class="img2">
    <img src="./assets/images/19.jpg" class="img2">
    <img src="./assets/images/20.jpg" class="img2">
    <img src="./assets/images/21.jpg" class="img2">
    <img src="./assets/images/22.jpg" class="img2">
    <img src="./assets/images/23.jpg" class="img2">
    <img src="./assets/images/24.jpg" class="img2">
    <img src="./assets/images/25.jpg" class="img2">
    <img src="./assets/images/26.jpg" class="img2">
    <img src="./assets/images/27.jpg" class="img2">
    <img src="./assets/images/28.jpg" class="img2">
    <img src="./assets/images/29.jpg" class="img2">
    <img src="./assets/images/30.jpg" class="img2">
    <img src="./assets/images/31.jpg" class="img2">
    <img src="./assets/images/32.jpg" class="img2">
    <img src="./assets/images/33.jpg" class="img2">
    <img src="./assets/images/34.jpg" class="img2">
    <img src="./assets/images/35.jpg" class="img2">
    <img src="./assets/images/36.jpg" class="img2">
    <img src="./assets/images/37.jpg" class="img2">
    <img src="./assets/images/38.jpg" class="img2">
    <img src="./assets/images/39.jpg" class="img2">
    <img src="./assets/images/40.jpg" class="img2">
    

  </div>


