<div class="uoc-container2">
    <h1 class="centrado">Historia</h1>
    <p>Los orígenes de esta fortaleza hay que situarlos en época islámica. Entre los siglos XII-XIII, el autor árabe
        al-Yacut señala la existencia del hisn de Caravaca: un punto fortificado que centralizaba el control de los
        campos circundantes y la defensa de la población rural y sus ganados y pertenencias. </p>
    <img class="figura2 img1" alt="castillo de caravaca" src="./assets/images/castillo2.jpg" />
    <p>Sin embargo, lo que marcaría su carácter posterior fue el establecimiento, tras la reconquista del reino de
        Murcia durante la segunda mitad del XIII, de la bailía templaria, en cuya jurisdicción también iban a comprender
        las localidades y términos de Cehegín y Bullas. Un espacio señorial que, a partir de 1344 quedaría vinculado a
        la Orden de Santiago.</p>
    <div class="textolargo">
        <p>Actualmente, la fortaleza se encuentra muy transformada, como fruto del devenir de la historia y como
            consecuencia de su conversión en un importante centro sacro. No obstante, aún posee el carácter bélico que
            le dan los lienzos de murallas jalonados de torreones cúbicos y algunos de planta redonda.</p>

        <p>Todo el conjunto del alcázar-santuario está declarado Bien de Interés Cultural por la Disposición Adicional
            Segunda de la Ley 16/1985, de 25 de junio del Patrimonio Histórico Español.</p>
    </div>


</div>
