<nav>
    <ul class="menu">
        <li class="menu__item">
            <a href="#inicio"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="menu__item"><a href="#historia">Historia</a></li>
        <li class="menu__item"><a href="#castillo">El Castillo</a></li>
        <li class="menu__item"><a href="#galeria">Galería</a></li>
        <li class="menu__item"><a href="#llegar">Cómo llegar</a></li>
        <li class="menu__item--toggle">
            <a href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
</nav>
